<h2>Users</h2>
<span class="btn btn-primary" ng-click="showUserModal()">Add user</span>
<div class="row users-header">
  <div class="col-md-2">
    <strong>Name</strong>
  </div>
  <div class="col-md-2">
    <strong>Trainer</strong>
  </div>
  <div class="col-md-2">
    <strong>Phone</strong>
  </div>
  <div class="col-md-2">
    <strong>Trainings remain</strong>
  </div>
  <div class="col-md-2">
    <strong>Days remain</strong>
  </div>
  <div class="col-md-2">
    <strong>Actions</strong>
  </div>
</div>
<div class="row user" ng-repeat="user in users">
  <div class="col-md-2">
    {{user.firstname + ' ' + user.lastname}}
  </div>
  <div class="col-md-2">{{user.trainer.lastname}}</div>
  <div class="col-md-2">{{user.phone}}</div>
  <div class="col-md-2">{{user.ticket.trainings.remain}}</div>
  <div class="col-md-2">{{getRaminingDays(user.ticket.endDate)}}</div>
  <div class="col-md-2 user-actions">
    <span class="btn btn-success" ng-click="showUserModal(user)">Edit</span>
    <span class="btn btn-danger" ng-click="deleteUser(user._id)">Delete</span>
  </div>
</div>

<div class="modal fade" id="user-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{currentUser ? 'Edit user' : 'Create user'}}</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" ng-model="currentUser.firstname" placeholder="Firstname">
        <input class="form-control" ng-model="currentUser.lastname" placeholder="Lastname">
        <input class="form-control" ng-model="currentUser.phone" placeholder="Phone">
        <select class="form-control" ng-options="ticket as ticket.title for ticket in tickets" ng-model="currentTicket"></select>
        <select class="form-control" ng-options="trainer._id as trainer.lastname for trainer in trainers" ng-model="currentUser.trainer._id"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="updateUser(currentUser, currentTicket)">{{currentUser ? 'Save changes' : 'Create'}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->