<button class="btn btn-success pull-right" data-target="#export-modal" data-toggle="modal">Export to CSV</button>
<h2>Sales</h2>
<div class="row">
  <div class="col-md-8" id="calendar-wrapper">
    <div id="calendar">
      <div class="week-header">
        <div class="day" ng-repeat="day in weekDays">{{day}}</div>
      </div>
      <div class="week" ng-repeat="week in month">
        <div class="day" ng-class="checkDay(day)" ng-click="changeDay(day)" ng-repeat="day in week">
          {{day | date : 'dd'}}
          <div class="day-value" ng-if="sales[day].length">{{getTotal(sales[day])}}</div>
        </div>
      </div>
      <span class="calendar-arrow left-arrow" ng-click="changeMonth(-1)">{{monthLabels.prev}}</span>
      <span class="calendar-arrow right-arrow" ng-click="changeMonth(1)">{{monthLabels.next}}</span>
    </div> <!-- #trainer-calendar -->
  </div> <!-- #calendar-wrapper -->
  <div class="col-md-4" id="day-details">
    <h3>{{currentMonth.format('MMMM')}}</h3>
    <div id="info">
      <div class="info-line" ng-repeat="sale in daySales">
        <span class="sale-time">{{sale.date | date : 'HH:mm'}}</span>
        <span class="sale-title">{{sale.title}}</span>&#10005;
        <span class="sale-count">{{sale.count}}</span>=
        <span class="sale-total">{{sale.cost * sale.count}}</span>
        <span ng-if="sale.type === 'product'">({{sale.purchaseCost * sale.count}})</span>
      </div>
    </div> <!-- #info -->
    <div id="results">
      <span class="results-item"><strong>Total:</strong> {{getTotal(daySales)}}</span>
      <span class="results-item"><strong>Net profit:</strong> {{getNetProfit(daySales)}}</span>
    </div>
  </div> <!-- #day-details -->
</div>

<div class="modal fade" id="export-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Export to CSV</h4>
      </div>
      <div class="modal-body">
        <div class="modal-form clearfix">
          <h3>Select an export period</h3>
          <div class="col-md-6">
            <label>From:</label>
            <input type="text" ng-model="fromDate" class="form-control" id="from-date">
          </div>
          <div class="col-md-6">
            <label>To:</label>
            <input type="text" ng-model="toDate" class="form-control" id="to-date">
          </div>
        </div> <!-- .modal-form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="export(fromDate, toDate)">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->