<h2>Sales</h2>
<div class="row">
  <div class="col-md-8" id="calendar-wrapper">
    <div id="calendar">
      <div class="week-header">
        <div class="day" ng-repeat="day in weekDays">{{day}}</div>
      </div>
      <div class="week" ng-repeat="week in month">
        <div class="day" ng-class="checkDay(day)" ng-click="changeDay(day)" ng-repeat="day in week">
          {{day | date : 'dd'}}
          <div class="day-value" ng-if="sales[day].length">{{getTotal(sales[day])}}</div>
        </div>
      </div>
      <span class="calendar-arrow left-arrow" ng-click="changeMonth(-1)">{{monthLabels.prev}}</span>
      <span class="calendar-arrow right-arrow" ng-click="changeMonth(1)">{{monthLabels.next}}</span>
    </div> <!-- #trainer-calendar -->
  </div> <!-- #calendar-wrapper -->
  <div class="col-md-4" id="day-details">
    <h3>{{currentMonth.format('MMMM')}}</h3>
    <div id="info">
      <div class="info-line" ng-repeat="sale in daySales">
        <span class="sale-time">{{sale.date | date : 'HH:mm'}}</span>
        <span class="sale-title">{{sale.title}}</span>&#10005;
        <span class="sale-count">{{sale.count}}</span>=
        <span class="sale-total">{{sale.cost * sale.count}}</span>
      </div>
    </div> <!-- #info -->
  </div> <!-- #day-details -->
</div>